<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value="MK7fBvt6QBBCW4XISTp0CJGcB"/>
    <add key="ConsumerSecret" value="vd5HSgZOnRBDpyrgr2xikjr8sMDnqjWV5zTLbA0jKEFsdO1Uka"/>
    <add key="OAuthClientID"  value="65739218829-ohlpvjjimlnak366uqgcc0asj7tdh0ip.apps.googleusercontent.com"/>
    <add key="OAuhtClientSecret" value="_VDgQUyHgqifw70MaqnYCkIL"/>
    <add key="GoogleApiKey" value="AIzaSyD9NWvJyAR5J_YcyI30ZmeQCnscJzyz2MI"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>