<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value=""/>
    <add key="ConsumerSecret" value=""/>
    <add key="OAuthClientID"  value=""/>
    <add key="OAuhtClientSecret" value=""/>
    <add key="GoogleApiKey" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>